{% extends 'base.html.twig' %}

{% block title %}Welcome to Gamer Reviews!{% endblock %}

{% block body %}
<div class="container text-center">
    {{ include('_navbar.html.twig') }}
    <header class="row">
        <h1>Welcome to Gamer Reviews!</h1>
    </header>
</div>
{% endblock %}
