{% extends 'base.html.twig' %}

{% block title %}Welcome to Gamer Reviews!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <h1>Welcome to Gamer Reviews!</h1>

    <form method="get" action="/games/search">
        <input type="search" id="search-input" class="search-input" name="query" required="required">
        <button type="submit" class="search-button">Search</button>
    </form>
</div>
{% endblock %}
