$primary: #005B8D; // Using a darker shade of blue as the primary color
$secondary: #C0C0C0; // Using Chrome Silver as the secondary color
$success: #39FF14; // Using Neon Green as a success color
$info: #00A8FF; // Using Electric Blue as an info color
$warning: #FFB800; // Using a bright yellow-orange as the warning color
$danger: #FF001A; // Using Laser Red as a danger color
$light: #D9D9D9; // Using Chrome Silver as a light color
$dark: #7F00FF; // Using Cyber Purple as a dark color

$main-background-color: $secondary; 

// Bootstrap overrides
$body-bg: $main-background-color;

$input-bg: $light;