{% extends 'base.html.twig' %}

{% block title %}Game Search Results{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <a class="home" href="{{ path('homepage') }}">Home</a>

    <h1>Search results for "{{ query }}"</h1>

    {% if games is empty %}
        <h2>No results found</h2>
    {% else %}
        <ul id="search-results">
            {% for game in games %}
                <li><a href="/games/{{ game.id }}">{{ game.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
