{% extends 'base.html.twig' %}

{% block title %}Game Search Results{% endblock %}

{% block body %}
<div class="container text-center">
    {{ include('_navbar.html.twig') }}

    <h1>Search results for "{{ query }}"</h1>

    {% if games is empty %}
        <h2>No results found</h2>
    {% else %}
        <div id="search-results" class="list-group">
            {% for game in games %}
                <a href="/games/{{ game.id }}" class="list-group-item">
                    <div class="mb-3">
                        <div class="row g-0">
                            <div class="col-md-2">
                                {# <img src="..." class="img-fluid rounded-start" alt="..."> #}
                            </div>
                            <div class="col-md-8">
                                <h5>
                                    {{ game.name }}
                                </h5>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
